<nz-table
  #basicTable
  nzFrontPagination="false"
  nzShowSizeChanger
  [nzData]="vm().items"
  [nzTotal]="vm().totalCount"
  [nzPageIndex]="vm().pageIndex"
  [nzPageSize]="vm().pageSize"
  (nzQueryParams)="onQueryParamsChange($event)"
  [nzScroll]="tableConfig.scrollConfig!"
  [nzLoading]="vm().isLoading"
>
  <thead>
    <tr>
      <ng-container
        *ngFor="let item of tableConfig.columnConfig; let i = index"
      >
        <th
          [nzSortFn]="item.canSort!"
          [nzColumnKey]="getColumnKey(item.key)"
          [nzAlign]="item.align || null"
          [nzWidth]="item.width || ''"
        >
          {{ item.label }}
        </th>
      </ng-container>
      <th
        nzAlign="center"
        *ngIf="
          tableConfig.commandConfig && tableConfig.commandConfig.length > 0
        "
      >
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let data of basicTable.data"
      (click)="
        tableConfig.onRowClick &&
        !(tableConfig.disabledRow && tableConfig.disabledRow(data)) &&
          tableConfig.onRowClick(data)
      "
      [ngClass]="{
        'disable-row': tableConfig.disabledRow && tableConfig.disabledRow(data),
        'row-click':
          tableConfig.onRowClick &&
          !(tableConfig.disabledRow && tableConfig.disabledRow(data))
      }"
    >
      <ng-container
        *ngFor="let item of tableConfig.columnConfig; let i = index"
      >
        <td
          (click)="item.onCellClick && item.onCellClick(data)"
          [nzAlign]="item.align || null"
          [ngClass]="{ link: item.onCellClick }"
        >
          <ng-container *ngIf="item.type === 'text'">
            {{ data[item.key] }}
          </ng-container>
          <ng-container *ngIf="item.type === 'templateRef'">
            <ng-container
              [ngTemplateOutlet]="item.templateRef"
              [ngTemplateOutletContext]="{ $implicit: data[item.key] }"
            ></ng-container>
          </ng-container>
          <ng-container *ngIf="item.type === 'date'">
            {{ data[item.key] | date : item.format }}
          </ng-container>
          <ng-container *ngIf="item.type === 'number'">
            {{ data[item.key] | number : item.format }}
          </ng-container>
          <ng-container *ngIf="item.type === 'percent'">
            {{ data[item.key] | percent : item.format }}
          </ng-container>
        </td>
      </ng-container>
      <td
        *ngIf="
          tableConfig.commandConfig && tableConfig.commandConfig.length > 0
        "
      >
        <div class="action">
          <ng-container *ngFor="let command of tableConfig.commandConfig">
            <ng-container *ngIf="!command.hidden || !command.hidden(data)">
              <a
                *ngIf="command.haveConfirm; else notConfirm"
                nz-tooltip
                nz-button
                [disabled]="command.disableField && data[command.disableField]"
                [nzTooltipTitle]="command.tooltip"
                nz-popconfirm
                [nzPopconfirmTitle]="command.confirmText"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="command.onClick!(data)"
                ><i nz-icon [nzType]="command.icon" nzTheme="outline"></i
              ></a>
              <ng-template #notConfirm>
                <a
                  nz-tooltip
                  nz-button
                  [disabled]="
                    command.disableField && data[command.disableField]
                  "
                  [nzTooltipTitle]="command.tooltip"
                  (click)="command.onClick!(data)"
                  ><i nz-icon [nzType]="command.icon" nzTheme="outline"></i
                ></a>
              </ng-template>
            </ng-container>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
